* {
    background-color: rgb(53, 48, 94);
}
h1 {
    color: white;
    font-size: 80px;
    font-family: "Baskerville";
    text-align: center;
    background-color: rgb(240, 157, 151);
}

li{
    text-align: center;
    list-style: none;
}

a:link {
    font-size: 40px;
    color:rgb(160, 173, 247);
    text-decoration: none;

}
a:visited {
    color:rgb(243, 192, 192);
}

a:hover{
    background-color: white;
}