/* index*/

#index-page {
    background-color: rgb(53, 48, 94);
}
.index-h1{
    color: white;
    font-size: 80px;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    background-color: rgb(240, 157, 151);
}

.index-list{
    text-align: center;
    list-style: none;
    font-family: proxima-nova, sans-serif;
}

a:link {
    font-size: 40px;
    color:rgb(160, 173, 247);
    text-decoration: none;

}
a:visited {
    color:rgb(243, 192, 192);
}

a:hover{
    color: white;
}

/* katsudon.css */

#katsudon-page {
    background-color: rgb(34, 36, 48);
}

.page-heading {
    color: rgb(238, 198, 90);
    font-family: proxima-nova, sans-serif;
    text-align: center;
    letter-spacing: .05em ;
    font-size: 80px;
    line-height:10pt ;

}
.class,.img {
    border: 3px solid beige;
    padding: 2px;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
