* {
    background-color: rgb(51, 51, 102);
}
h1 {
    color: white;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(238, 151, 166);
}
li {
    font-size
}